/*Loads the 2 fonts the site from the Archeon uses contained in the Fonts directory*/
@font-face {
    font-family: "Triplex-Light";
    src: url("../Fonts/Triplex\ Light.ttf");
}

* {
    font-family: "Triplex-Light";

    /*Makes everything non-draggable*/
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
