/*Loads the 2 fonts the site from the Archeon uses contained in the Fonts directory*/
@font-face {
    font-family: "Triplex-Light";
    src: url("../Fonts/Triplex\ Light.ttf");
}

* {
    font-family: "Triplex-Light";
}
