/*Loads the 2 fonts the site from the Archeon uses contained in the Fonts directory*/
@font-face {
    font-family: "Triplex-Light";
    src: url("./Local_Files/Fonts/Triplex\ Light.ttf");
}
@font-face {
    font-family: "Triplex-ExtraBold";
    src: url("./Local_Files/Fonts/Triplex-ExtraBold\ Extra\ Bold.ttf");
}


h1, h2, h3, h4, h5 {
    font-family: "Triplex-ExtraBold";
}

p, button, span, a{
    font-family: "Triplex-Light";
}

/*Things currently used for the answerscreen*/
.Question {
  border-radius: 5px;
  background-color: gray;

  height: 20rem;
  flex: 1 20rem;
  
}

.QuestionCheckmark {
  width: 1rem;
  height: 1rem;
}